@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Roboto+Condensed:wght@300;400;700&family=Tiro+Devanagari+Sanskrit&display=swap');

:root {
  --primary: #200016;
  --secondary: #10001f;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* font-family: 'Roboto', BlinkMacSystemFont, 'Oxygen', 'Ubuntu', 'Segoe UI',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  object-fit: cover; */

  font-family: 'Poppins', 'Roboto', serif;
}

.dropdown__menu {
  display: none;
}
.dropdown:hover .dropdown__menu {
  display: block;
}

li,
a {
  cursor: pointer;
}
