@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #200016;
  --secondary: #10001f;
}

body {
  font-family: BlinkMacSystemFont, "Oxygen", "Ubuntu", "Segoe UI", "Roboto",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  object-fit: cover;
}
